/* google fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* colors */
:root {
    --primary-color: #00abf0;
    --background-color: #081c29;
    --text-color: white;
}

html {
    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: var(--background-color);
    color: var(--text-color);
}

/* NAVBAR STYLES */

.logo,
.menu a {
    color: var(--text-color);
}

.menu a:hover,
.menu a.active {
    color: var(--primary-color);
}




.header {
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 10%;
    background-color: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
    gap: 10px;

}

.logo {
    font-size: 25px;
    text-decoration: none;
    font-weight: 600;

}

.logo::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: var(--background-color);
    animation: showRight 1s ease forwards;
    animation-delay: 0.4s;
}


.menu {
    display: flex;
    list-style-type: none;
    gap: 20px;
    font-size: 18px;
    font-weight: 600;
}



.menu a {
    text-decoration: none;
    transition: 0.3s;
}

.menu a:hover {
    animation: pulse 2s infinite;
    border-radius: 5px;
}

.hamburger {
    display: none;
    font-size: 30px;
    cursor: pointer;
}

/* MAIN SECTION STYLES */

.home {
    display: flex;
    align-items: center;
    height: 100vh;
    padding: 0 10%;
}

.home-content {
    max-width: 600px;
}

.home-content h1 {
    position: relative;
    font-size: 3.5rem;
    font-weight: 700;
    line-height: 1.2;
}

.home-content h1::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: var(--background-color);
    animation: showRight 1s ease forwards;
    animation-delay: 0.4s;
}


.home-content h3 {
    position: relative;
    font-size: 2rem;
    color: var(--primary-color);
}

.home-content h3::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: var(--background-color);
    animation: showRight 1s ease forwards;
    animation-delay: 0.6s;
}

.home-content p {
    position: relative;
    font-size: 1rem;
    margin: 20px 0px 40px;
}

.home-content p::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: var(--background-color);
    animation: showRight 1s ease forwards;
    animation-delay: 0.8s;
}

.home-content .btn-box {
    position: relative;
    display: flex;
    justify-content: space-between;
    width: 345px;
    height: 50px;
}

.home-content .btn-box::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: var(--background-color);
    animation: showRight 1s ease forwards;
    animation-delay: 1.2s;
    z-index: 2;
}



.btn-box a {
    position: relative;
    display: inline-flex;
    width: 150px;
    height: 100%;
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: 600;
    align-items: center;
    justify-content: center;
    background-color: var(--primary-color);
    color: var(--background-color);
    border: 2px solid var(--primary-color);
    border-radius: 8px;
    padding: 5px;
    margin-right: 20px;
    letter-spacing: 1px;
    z-index: 1;
    overflow: hidden;
}


.home-image img {
    position: relative;
    max-width: 100%;
    height: auto;

}



.home-image:hover {
    background-color: var(--background-color);
    opacity: 0.2;
    cursor: pointer;
    transition: 1.8s;
}

.btn-box a:nth-child(2) {
    background-color: transparent;
    color: var(--primary-color);
}

.btn-box a:nth-child(1):hover {
    color: var(--primary-color);
}

.btn-box a:nth-child(2):hover {
    color: var(--background-color);
}



.btn-box a:nth-child(2)::before {
    background-color: var(--primary-color);
}

.btn-box a::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background-color: var(--background-color);
    z-index: -1;
    transition: 0.5s;
}

.btn-box a:hover::before {
    width: 100%;
}

/* pulse animation */
.hire:hover,
.talk:hover {
    animation: pulse 2s infinite;
}



.social {
    position: absolute;
    bottom: 40px;
    width: 170px;
    font-size: 2rem;
}

.social::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: var(--background-color);
    animation: showRight 1s ease forwards;
    animation-delay: 1.4s;
}

.social a {
    display: inline-flex;
    width: 40px;
    height: 40px;
    text-decoration: none;
    color: var(--primary-color);
    border-radius: 5px;
    justify-content: center;
    align-items: center;
}

.social a:hover {
    color: var(--background-color);
    background-color: var(--primary-color);
    transition: 0.5s;
    animation: pulse 2s infinite;
}


/* CONTACT SECTION */

.contact {
    padding: 50px 10%;
    background-color: var(--background-color);
    color: var(--text-color);
    text-align: center;
}

.contact h2 {
    position: relative;
    font-size: 2.5rem;
    font-weight: 700;
    margin-bottom: 20px;

}

.contact h2::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: var(--background-color);
    animation: showRight 2s ease forwards;
    animation-delay: 1.8s;
}

.form {
    display: flex;
    flex-direction: column;
    max-width: 600px;
    margin: 0 auto;
}

.form input,
.form textarea {
    padding: 15px;
    margin: 10px 0;
    border: 2px solid var(--primary-color);
    border-radius: 5px;
    font-size: 16px;
    background-color: #1e2a35;
    color: var(--text-color);
}

.form input::placeholder,
.form textarea::placeholder {
    color: #b0c4de;
}

.form button {
    padding: 15px;
    border: 2px solid var(--primary-color);
    border-radius: 5px;
    background-color: var(--background-color);
    color: var(--primary-color);
    font-size: 18px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.form button:hover {
    background-color: var(--primary-color);
    color: var(--background-color);
    border: 2px solid var(--primary-color);
    transition-delay: 0.08s;
    animation: pulse 2s infinite;

}



/* FOOTER SECTION */
footer p {
    align-items: center;
    text-align: center;


}



/* QUOTE BUTTON */
li .quote {
    background-color: var(--background-color);
    color: var(--text-color);
    border: none;
    font-size: 1.2rem;
    font-weight: 700;
    border-radius: 8px;
    animation: buttonStyle 4s infinite ;
}

li .quote:hover {
    cursor: pointer;
}



.projects {
    text-align: center;
    margin: 0 auto;
    padding: 50px 0;
  }
  
  .project-container {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
    margin-top: 20px;
  }
  
  .project {
    background-color: #f0f0f0;
    padding: 20px;
    width: 200px;
    height: 150px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }

  .projects h2{
    color: white;
    font-size: 2.5rem;
  }

  .project-container a{
    text-decoration: none;
    color: white;
  }
  
  .project-container a img {
    width: 100%;
    max-width: 300px;
    border-radius: 10px;
    filter: blur(2px);
    transition: transform 0.3s, box-shadow 0.3s;
    transition: filter 0.8s, transform 0.8s , box-shadow 0.3s;;
}

.project-container a img:hover {
    filter: blur(0);
    transform: scale(1.05);
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.3);
}





/* ANIMATIONS */
@keyframes showRight {
    100% {
        width: 0;
    }
}

@keyframes pulse {
    0% {
        box-shadow: 0 0 0 0px rgba(0, 0, 0, 0.5);
    }

    100% {
        box-shadow: 0 0 0 20px rgba(0, 0, 0, 0);
    }
}

@keyframes buttonStyle{
    0% {
        background-color: var(--primary-color);
        color: var(--background-color);
        border: 2px solid var(--primary-color);
    }
    50% {
        background-color: var(--background-color);
        color: var(--primary-color);
        border: 2px solid var(--primary-color);
    }
    100% {
        background-color: var(--primary-color);
        color: var(--background-color);
        border: 2px solid var(--primary-color);
    }
} 
    

@keyframes menuAnimation {
    0% {
        opacity: 0;
    }

    25% {
        opacity: 0.2;
    }

    50% {
        opacity: 0.4;
    }

    75% {
        opacity: 0.6;
    }

    100% {
        opacity: 1;
    }

}


@media (max-width: 768px) {
    .menu {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 60px;
        right: 10%;
        background-color: var(--background-color);
        width: 200px;
        border-radius: 8px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
        padding: 10px;
        opacity: 0;
        transform: translateY(-20px);
        transition: all 0.3s ease-in-out;
    }

    .menu.active {
        display: flex;
        opacity: 1;
        transform: translateY(0);
    }

    .hamburger {
        display: block;
    }
	.home-content .btn-box {
        flex-direction: column;
        align-items: center;
        gap: 10px;
        width: 100%;
        height: auto;
    }

    .social {
        position: relative;
        bottom: 20px;
        margin-top: 20px;
        display: flex;
        justify-content: center;
        gap: 15px;
    }

    .social a {
        width: 30px;
        height: 30px;
        font-size: 1.5rem;
    }
}
/* ΓΙΑ ΟΘΟΝΕΣ ΚΙΝΗΤΩΝ */

@media (max-width: 768px) {  
    body {
      font-size: 16px;
    }
  
    .navbar {
      flex-direction: column;
    }
  
    .projects {
      grid-template-columns: 1fr;
    }
  }
  